/* Card CSS */
.card {
    border: none;
}


.card__icon > i,
.commitment__icon > i {
    font-size: 3.2rem;
}

.card__heading,
.commitment__heading {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.card__description,
.commitment__description {
    color: #424242;
    font-size: 1.4rem;
    padding-right: 20%;
}

.card__direct,
.commitment__direct {
    color: #D1AF66;
    font-size: 1.4rem;
    display: block;
}

/* Card Category */

.category-card__info {
    border: 1px solid #CFCFCF;
}

.category-card__img {
    width: 100%;
}

.category-card__text {
    padding: 16px;
}

.category-card__heading {
    font-size: 2rem;
    font-weight: 700;
}

.category-card__direct {
    color: #424242;
    font-size: 1.4rem;
}

/* Commitment */

.commitment__text-heading {
    font-size: 3.6rem;
    font-family: "Playfair Display", Georgia, Cambria, "Times New Roman", Times, serif;
}

/* New Arrival */
.new-arrival__text {
    text-align: center;
}

.product__img {
    width: 100%;
}

.product__product-text {
    margin-top: 18px;
    cursor: pointer;

}

.product__product-text:hover .product__heading,
.product__product-text:hover .product__description{
    color: #D1AF66;
}

.product__heading,
.product__description,
.blog__heading {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
}

.product__heading {
    color: #101010;
    font-size: 1.5rem;
    font-weight: 600;
}

.product__description {
    color: #101010;
    font-size: 1.5rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product__price {
    color: #101010;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.product__price > span {
    text-decoration: underline;
}

.product__size {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.new-arrivial__view-more,
.blog__view-more {
    color: #454545;
    font-size: 1.4rem;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #101010;
}

.new-arrivial__view-more:hover,
.blog__view-more:hover {
    border: 1px solid #878787;
    color: #454545;
    text-decoration: none;
}

/* Blog */

.blog__text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.blog__img {
    width: 100%;
}

.blog__heading {
    color: #101010;
    font-size: 1.5rem;
    margin: 20px 0 8px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.blog__heading:hover {
    color: #D1AF66;
}

.blog__time {
    font-size: 1.2rem;
}

.blog__time-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}