/* .header {
} */

.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: 10px 32px 6px;
    position: relative;
}

.header__navbar-icon-search {
    position: absolute;
    font-size: 2rem;
    color: var(--white-color);
    top: 50%;
    right: 74px;
    transform: translate(0, -50%);
    margin: 0 !important;
    cursor: pointer;
}

.header__navbar-input-search {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    height: 26px;
    width: 0px;
    margin-top: 8px;
    transition: 0.5s;
    padding: 0;
    position: relative;
}

.header__navbar-input-search::placeholder {
    color: #CFCFCF;
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
}

.header__navbar-input-search:focus {
    width: 480px;
}

.header__navbar-icon-cart {
    position: absolute;
    font-size: 2.4rem;
    color: var(--white-color);
    top: 50%;
    right: 34px;
    transform: translate(0, -50%);
}

.header__navbar-menu-icon {
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(0, -50%);
    display: none !important;
}

.header__navbar-mobile-menu {
    /* width: 100%; */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 3;
}

.menu-mobile-item {
    padding: 10px 20px;
}

.menu-mobile-item:active,
.dropdown-mobile-menu-item:active  {
    background-color: #F9F7F0;
}

.menu-mobile-item:active > a,
.dropdown-mobile-menu-item:active > a {
    color: #d1af66;
}


.menu-mobile-item:not(:last-child)  {
    margin-bottom: 16px;
}

.menu-mobile-item > a {
    text-decoration: none;
    color: #101010;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.menu-mobile-item > i {
    font-size: 1.5rem;
    float: right;
}

.dropdown-mobile-menu {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    display: block;
    height: 100%;
    overflow-y: scroll;
}

.dropdown-mobile-menu-back {
    margin: 0;
    padding: 30px 22px;
    border-bottom: 1px solid #101010;
    cursor: pointer;
}

.dropdown-mobile-menu-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.dropdown-mobile-menu-item{
    padding: 24px 22px;
    cursor: pointer;
    /* margin-bottom: 38px; */
}

.dropdown-mobile-menu-item > a {
    color: #101010;
    font-size: 1.5rem;
}

.menu-mobile-category {
    background-color: #FFFFFF;
    /* padding: 24px 20px; */
    padding: 24px 0;
    margin: 0;
    list-style: none;
    width: 266px;
    height: 100%;
}

.menu-mobile-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* height: 100%; */
    top: 0;
    /* left: 266px; */
    bottom: 0;
    display: none;
    z-index: 2;
}

.header__category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    border-bottom: 1px solid #CFCFCF;
}

.header__category-left-group,
.header__category-right-group {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header__category-left-item {
    margin-right: 20px;
    position: relative;
    padding: 16px 0;
}

.header__category-left-item:hover {
    border-bottom: 1px solid #101010;
    /* animation: fadeIn linear 0.2s; */
    /* cursor: pointer; */
}

.header__category-left-item:hover .header__category-left-dropdown {
    display: flex;
}

.header__category-right-item {
    padding: 16px 4px;

}

.header__category-right-item:first-child {
    margin-right: 18px;
}

.header__category-left-item > a,
.header__category-right-item > a {
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 700;
    text-decoration: none;
}

.header__category-left-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    padding: 24px 12px;
    left: -28px;
    background-color: var(--white-color);
    border-left: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    z-index: 1;
}

.dropdown__brand,
.dropdown__img {
    padding: 0 16px;
}

.dropdown__brand-heading {
    margin: 0 0 16px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.dropdown__brand-group {
    width: 600px;
    height: 210px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    column-count: 3;
    column-fill: auto;
}

.dropdown__brand-item {
    padding-top: 8px;
}

.dropdown__brand-item > a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.5rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
}

.dropdown__brand-item > a:hover {
    color: #D1AF66;
}
.dropdown__img > img {
    width: 442px;
    height: 218px;
}

.header__category-right-item {
    position: relative;
}

.header__category-right-item:hover {
    border-bottom: 1px solid #101010;
}

.header__category-right-item:hover .header__category-right-dropdown{
    display: block;
}

.header__category-right-dropdown {
    display: none;
    position: absolute;
    width: 243px;
    top: calc(100% + 2px);
    right: -20%;
    background-color: var(--white-color);
    border-left: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    z-index: 1;
}

.dropdown__service-group {
    padding: 8px 16px;
    margin: 0;
    list-style: none;
}

.dropdown__service-item {
    padding: 10px 0px;
    position: relative;
}


.dropdown__service-item > a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
}

.dropdown__service-item > a:hover {
    columns: #D1AF66;
}

.dropdown__service-separate {
    position: absolute;
    background-color: #E7E7E7;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0px;
}

.upcoming {
    color: #808080 !important;
    cursor: default;
}

.upcoming:hover {
    text-decoration: none;
}

.header__mobile-search {
    background-color: var(--black-color);
    width: 100%;
    height: 56px;
    display: none;
}

.header__mobile-search-group {
    padding: 16px 0px 4px 0px;
    border-bottom: 1px solid #878787;
    margin: 0 24px 0 14px;
}

.header__mobile-search-input {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    height: 26px;
    width: calc(100% - 2.6rem);
    margin-left: 2px;
}

.header__mobile-search-input::placeholder {
    font-size: 1.4rem;
    color: #878787;
}

.header__mobile-search-icon {
    color: var(--white-color);
    font-size: 2rem;
    /* float: right; */
}